.accordion {
  border-radius: 0.5rem;
  
  .accordion-item {
    border: 0;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--background);

    &:last-child {
      margin-bottom: 0;
      border-radius: 0.5rem;
    }
    
    .accordion-button {
      @extend .body-text;
      padding: 0.75rem;
      background-color: var(--surface);
      box-shadow: none;
      border-radius: 0.5rem;
      transition: color .22s ease-in-out,background-color .22s ease-in-out,border-color .22s ease-in-out,box-shadow .22s ease-in-out,border-radius .22s ease;
  
      &::after { 
        @extend .body-text;
        color: var(--on-background);
        background-image: none;
        content: "\F64D"; /* plus */
        font-family: "bootstrap-icons";
        text-align: center;
        width: auto;
        height: auto;
      }
  
      &:not(.collapsed) {
        color: var(--on-background);
        background-color: var(--surface-2);
        border-radius: 0.5rem 0.5rem 0 0;
  
        &:last-of-type {
          border-radius: 0.5rem 0.5rem 0 0;
        }

        &::after { 
          @extend .body-text;
          color: var(--on-background);
          background-image: none;
          content: "\F64D"; /* plus */
          font-family: "bootstrap-icons";
          text-align: center;
          transform: rotate(-45deg);
        }
  
        &:hover {
          background-color: var(--surface-3);
        }
      }

      &:last-of-type {
        border-radius: 0.5rem;
      }
  
      &:hover {
        background-color: var(--surface-1);
      }
  
      &:active {
        box-shadow: none !important;
      }
  
      &:focus {
        box-shadow: none !important;
      }
  
      &:disabled {
        color: var(--outline);
        background-color: var(--surface);
      }
    }
  
    .accordion-body {
      @extend .body-text-sm;
      padding: 0.75rem;
      background-color: var(--surface-2);
      border-radius: 0 0 0.5rem 0.5rem;

      p {
        margin-bottom: 0;
      }
    }
  }

  .accordion {
    border-radius: 0;

    .accordion-item {
      border-radius: 0;
      border: 0;
      margin-bottom: 0;

      &:last-child {
        .accordion-button {
          border-radius: 0 0 0.5rem 0.5rem !important;

          &:not(.collapsed) {
            border-radius: 0 !important;
          }
        }
        
        .accordion-body { 
          border-radius: 0 0 0.5rem 0.5rem !important;
        }
      }

      .accordion-header {
        &::before {
          content: '';
          width: 0;
          height: 3rem;
          border-left: 1px solid var(--surface-variant);
          position: absolute;
          margin-left: 1.25rem;
        }

        &:hover {
          &::before {
            content: '';
            width: 0;
            height: 3rem;
            border-left: 1px solid var(--surface-variant);
            position: absolute;
            margin-left: 1.25rem;
          }
        }
        
        .accordion-button {
          @extend .body-text-sm;
          position: inherit;
          padding: 0.75rem;
          padding-left: 1.75rem;
          background-color: var(--surface-2);
          border-radius: 0;
    
          &::after { 
            @extend .body-text;
            color: var(--on-background);
            background-image: none;
            content: "\F4FA"; /* plus-circle */
            font-family: "bootstrap-icons";
            text-align: center;
          }
  
          &:not(.collapsed) {
            background-color: var(--surface-variant);
            padding: 0.75rem;
            padding-left: 1.75rem;
  
            &::after {
              @extend .body-text;
              color: var(--on-background);
              background-image: none;
              content: "\F4FA"; /* dash-square */
              font-family: "bootstrap-icons";
              text-align: center;
            }
  
            &:hover {
              background-color: var(--surface-5);
            }
          }
      
          &:hover {
            background-color: var(--surface-3);
          }
      
          &:active {
            box-shadow: none !important;
          }
      
          &:focus {
            box-shadow: none !important;
          }
      
          &:disabled {
            color: var(--outline);
            background-color: var(--surface-2);
          }
        }
      }

      .accordion-body {
        @extend .body-text-sm;
        padding: 0.75rem;
        padding-left: 1.75rem;
        padding-right: 2rem;
        background-color: var(--surface-variant);
        color: var(--on-surface-variant);
        border-radius: 0;
        
        p {
          margin-bottom: 0;
        }
      }
    }
  }
}
