.badge {
  @extend .label-text;
  margin: 0 0.5rem;
  padding: 0.125rem 0.625rem;
  color: var(--on-brand-flat);
  background-color: var(--brand-flat);

  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }

  &.badge-numerical {
    padding: 0 0.5rem;
    border-radius: 0.5rem;
  }

  &.bg-secondary-flat {
    color: var(--on-surface);
    background-color: var(--surface) !important;
  }
}

.badge-sm {
  @extend .label-text-sm;

  &.badge-numerical {
    padding: 0 0.375rem;
    border-radius: 0.375rem;
  }
}

.badge-lg {
  @extend .label-text-lg;

  &.badge-numerical {
    padding: 0 0.625rem;
    border-radius: 0.625rem;
  }
}

.badge-collections {
  margin-bottom: 1rem;
}