@each $key, $value in $color-envs {
  .btn-#{$key} {
    background-color: var(--#{$value});
    border-color: var(--#{$value});
    color: var(--on-#{$value});

    &:hover {
      background-color: var(--#{$value}-strong);
      border-color: var(--#{$value}-strong);
      color: var(--on-#{$value});
      //text-decoration: underline;
    }

    &:focus, &:active {
      background-color: var(--#{$value}-strong);
      border-color: var(--accent);
      color: var(--on-#{$value});
      //text-decoration: underline;
      box-shadow: 0 0 0 2px var(--#{$value}-smooth);
    }

    &:disabled {
      background-color: var(--bs-gray-200);
      border-color: var(--bs-gray-200);
      color: var(--bs-gray-500);
    }
  }

  .btn-outline-#{$key} {
    background: none;
    color: var(--#{$value});
    border-color: var(--#{$value});

    &:hover {
      color: var(--#{$value}-strong);
      border-color: var(--#{$value}-strong);
      text-decoration: underline;
      background: none;
    }

    &:focus, &:active {
      color: var(--#{$value}-strong);
      border-color: var(--#{$value}-strong);
      text-decoration: underline;
      box-shadow: 0 0 0 2px var(--#{$value}-smooth);
      background: none;
    }

    &:disabled {
      border-color: var(--bs-gray-500);
      color: var(--bs-gray-500);
    }
  }

  .btn-#{$key}-smooth {
    background-color: var(--#{$value}-smooth);
    border-color: var(--#{$value}-smooth);
    color: var(--on-#{$value}-smooth);

    &:hover {
      background-color: var(--#{$value}-smooth-strong);
      border-color: var(--on-#{$value}-smooth);
      color: var(--on-#{$value}-smooth);
      text-decoration: underline;
    }

    &:focus, &:active {
      color: var(--on-#{$value}-smooth);
      background-color: var(--#{$value}-smooth-strong);
      border-color: var(--on-#{$value}-smooth);
      text-decoration: underline;
      box-shadow: none !important;
    }

    &:disabled {
      background-color: var(--bs-gray-200);
      border-color: var(--bs-gray-200);
      color: var(--bs-gray-500);
    }
  }
}

.btn-link {
  color: var(--brand);
  &:hover, &:active, &:focus {
    color: var(--brand-strong);
  }
}