.card {
  border: unset;
  box-shadow: 0 0 0 1px var(--outline);
  border-radius: 0.5rem;
  background-color: var(--surface);

  .card-body {
    padding: 1rem;

    .card-title {
      @extend .title-text;
      color: var(--on-surface);
      margin-bottom: 0;
    }
  
    .card-text {
      @extend .body-text;
      color: var(--on-surface-variant);
      margin: 0.5rem 0;
    }

  }

  .card-actions {
    margin-top: 0.75rem;
  }

  .card-img-top {
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
  }

  img {
    aspect-ratio: 4 / 3;
  }

  .card-image {
    width: 100%;
    background-size: cover !important;
    background-position: center !important;
    height: 100%;
    aspect-ratio: 4/3;

    @media (max-width: 768px) {
      aspect-ratio: 1/1;
    }
  }

  &.elevated {
    background: var(--surface);
    border: none;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
    .card-actions {
      background: var(--surface);
    }
  }

  &.clickable {
    cursor: pointer;

    &:hover {
      box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
      filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.3));
    }
  }
  
  &.text-center {
    list-style-position: inside;

    ul, ol {
      margin-bottom: 0;
      padding-left: 0 !important;
    }

    .list-group-item {
      justify-content: center !important
    }
  }
}

.masonry-card {
  .card-header {
    @extend .title-text;
    color: var(--on-surface);
    background-color: var(--surface);
    padding: 1rem;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
  }

  .card-body {

    &:last-child {
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
    }

    .card-title {
      @extend .heading-text;
      margin-bottom: 0;
    }
    
    ul, ol {
      margin-bottom: 0;
      padding-left: 1.5rem;
    }

    hr {
      margin: 0.75rem 0;
      color: var(--outline);
    }

    .list-group {
      border: none;
      padding: 0;
      border-radius: 0;

      &.list-group-horizontal {
        .list-group-item {
          justify-content: center;
        }
      }
    }
  }

  img {
    margin-bottom: 0.75rem;
  }
}