.dropdown {
  .dropdown-toggle {
    display: flex;

    &::after {
      background-image: none;
      content: "\F279"; /* Chevron down */
      font-family: "bootstrap-icons";
      text-align: center;
      vertical-align: bottom;
      border: 0;
      font-size: 1.125rem;
      margin-left: auto;

      @media (min-width: 768px) {
        margin-left: 0.25rem;
      }
    }

    &:hover, &:active, &:focus-visible {
      &::after {
        background-image: none;
        content: "\F27C"; /* Chevron down */
        font-family: "bootstrap-icons";
        text-align: center;
        vertical-align: bottom;
        border: 0;
        font-size: 1.125rem;
        margin-left: auto;

        @media (min-width: 768px) {
          margin-left: 0.25rem;
        }
      }
    }

    &.dropdown-toggle-iconless {
      &::after {
        background-image: none;
        content: "";
        vertical-align: bottom;
        border: 0;
        font-size: 1.125rem;
        margin-left: auto;

        @media (min-width: 768px) {
          margin-left: 0.25rem;
        }
      }
    }
    // @extend .label-text;
    // color: var(--on-brand-flat);
    // //text-decoration: underline;

    // &::after {
    //   background-image: none;
    //   content: "\F282"; /* Chevron down */
    //   font-family: "bootstrap-icons";
    //   text-align: center;
    //   display: inline-block;
    //   margin-left: 1rem;
    //   vertical-align: bottom;
    //   border: 0;
  
    // }

    // &:hover {
    //   color: var(--on-accent-flat);
    //   background-color: var(--accent-flat);
    // }

    // &:focus {
    //   box-shadow: none !important;
    // }

    // &:active,
    // &:focus-visible {
    //   color: var(--on-accent-flat-strong);
    //   background-color: var(--accent-flat-strong);
    //   box-shadow: none !important;

    //   &::after {
    //     background-image: none;
    //     content: "\F286"; /* Chevron down */
    //     font-family: "bootstrap-icons";
    //     text-align: center;
    //     display: inline-block;
    //     margin-left: 1rem;
    //     vertical-align: bottom;
    //     border: 0;
    
    //   }
    // }
  }

  .dropdown-menu {
    border-radius: 0.5rem;
    padding: 0.75rem;
    background-color: var(--surface);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
    
    .dropdown-item {
      @extend .label-text;
      color: var(--on-brand-flat);
      padding: 0.5rem 0.75rem;
      border-radius: 0.5rem;

      &:hover {
        color: var(--on-accent-flat);
        background-color: var(--accent-flat);
      }
  
      &:focus {
        box-shadow: none !important;
      }
  
      &:active,
      &:focus-visible {
        color: var(--on-accent-flat-strong);
        background-color: var(--accent-flat-strong);
        box-shadow: none !important;
      }

      &.disabled {
        color: var(--outline);
      }
    }
  }
}
