.dropdown {
  .dropdown-toggle {
    color: var(--on-surface);
    //background-color: var(--surface);
    text-decoration: underline;
    font-weight: 500;

    &::after {
      background-image: none;
      content: "\F282"; /* Chevron down */
      font-family: "bootstrap-icons";
      text-align: center;
      display: inline-block;
      margin-left: 1rem;
      vertical-align: bottom;
      border: 0;
  
    }

    &:hover {
      color: var(--information);
    }

    &:active,
    &:focus {
      background-color: var(--accent-smooth);
      box-shadow: none !important;

      &::after {
        background-image: none;
        content: "\F286"; /* Chevron down */
        font-family: "bootstrap-icons";
        text-align: center;
        display: inline-block;
        margin-left: 1rem;
        vertical-align: bottom;
        border: 0;
    
      }
    }
  }

  .dropdown-menu {
    border-radius: 0;
    background-color: var(--surface);
    
    .dropdown-item {
      color: var(--information);

      &:hover {
        color: var(--information-strong);
        background-color: none;
      }
      &:active,
      &:focus {
        color: var(--on-information-smooth);
        background-color: var(--accent-smooth);
      }
    }
  }

  /*   .dropdown-btn {
    &:active,
    &:focus {
      color: var(--bs-secondary-light);
      background-color: var(--bs-primary);
    }
  } */

}
