.form-label {
  @extend .label-text;
  border-radius: 0;
  padding: 0;
  color: var(--on-surface);
  margin-bottom: 0.25rem;

  &.form-label-sm {
    @extend .label-text-sm;
    border-radius: 0;
    padding: 0;
    color: var(--on-surface);
    margin-bottom: 0.25rem;
  }

  &.form-label-lg {
    @extend .label-text-lg;
    border-radius: 0;
    padding: 0;
    color: var(--on-surface);
    margin-bottom: 0.25rem;
  }

  .required {
    margin-left: 0.125rem;
    color: var(--negative);
  }
}

.form-control {
  @extend .label-text;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  color: var(--on-surface);
  border: 1px solid var(--outline);

  &.form-control-sm {
    @extend .label-text-sm;
    padding: 0.375rem 0.5rem;
    border-radius: 0.375rem;
  }

  &.form-control-lg {
    @extend .label-text-lg;
    padding: 0.625rem 1rem;
    border-radius: 0.5rem;
  }

  &:focus {
    color: var(--on-surface);
    box-shadow: none !important;
    border-color: var(--brand);
    background-color: var(--surface);
  }

  &:disabled {
    color: var(--outline);
    background-color: var(--surface);
    border: 1px solid var(--outline);
  }

/*   &:valid, &:invalid {
    background: white !important;
  } */
}

.input-group {
  .input-group-append {
    .btn {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      padding: 0.5rem 0.75rem;
    }
  }
  .form-select + .form-control {
    width: 1%; 
    border-top-left-radius:0 !important; 
    border-bottom-left-radius:0 !important;
  }
}

.input-group-icon {
  .input-group-prepend-icon {
    position: absolute;
    color: var(--on-surface);
    padding-left: 0.75rem;
    padding-top: 0.55rem;
    font-size: 1.125rem;
    z-index: 10;

    &.input-group-prepend-icon-sm {
      font-size: 1rem;
      padding-left: 0.5rem;
      padding-top: 0.2rem;
    }

    &.input-group-prepend-icon-lg {
      font-size: 1.25rem;
      padding-left: 1rem;
      padding-top: 0.4rem;
    }
  }

  .input-group-append-icon {
    position: absolute;
    color: var(--on-surface);
    font-size: 1.125rem;
    padding-top: 0.55rem;
    z-index: 10;
    right: 1rem;

    &.input-group-append-icon-sm {
      font-size: 1rem;
      padding-top: 0.2rem;
    }

    &.input-group-append-icon-lg {
      font-size: 1.25rem;
      padding-top: 0.4rem;
    }
  }

  .form-control {
    width: inherit;
    padding-left: 2.25rem;
    border-radius: 0.5rem !important;

    &.form-control-sm {
      padding-left: 2.25rem;
      border-radius: 0.375rem;
    }

    &.form-control-lg {
      padding-left: 2.5rem;
    }
  }
}

.input-hint {
  @extend .label-text;
  padding: 0;
  margin-top: 0.25rem;
  color: var(--on-surface-variant);

  &.input-hint-sm {
    @extend .label-text-sm;
    padding: 0;
    margin-top: 0.25rem;
    color: var(--on-surface-variant);
  }

  &.input-hint-lg {
    @extend .label-text-lg;
    padding: 0;
    margin-top: 0.25rem;
    color: var(--on-surface-variant);
  }

  .icon {
    margin-right: 0.375rem;
  }
}

.invalid-feedback {
  @extend .label-text;
  color: var(--negative);
  padding: 0;
  margin-top: 0.25rem;

  &.invalid-feedback-sm {
    @extend .label-text-sm;
    color: var(--negative);
    padding: 0;
    margin-top: 0.25rem;
  }

  &.invalid-feedback-lg {
    @extend .label-text-lg;
    color: var(--negative);
    padding: 0;
    margin-top: 0.25rem;
  }
}