.navbar {
  background-color: var(--brand);
  color: var(--on-brand);

  .container {
    flex-wrap: wrap
  }

  /* .navbar-brand-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;

    @media (min-width: 768px) {
      margin-bottom: 1.5rem;
      padding-top: 1rem;
      padding-bottom: 0;
    }
  }
 */
  .navbar-brand {
    @extend .title-text-lg;
    padding: 0;
    margin-top: 1rem;
    color: var(--on-brand);

    @media (max-width: 767px) {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    .navbar-brand-title {
      vertical-align: center;
      margin-left: 0.5rem;
      color: var(--on-brand);

      @media (min-width: 768px) {
        vertical-align: top;
      }
    }

    .navbar-brand-subtitle {
      @extend .title-text;
      margin-top: 0.5rem;
      vertical-align: center;
      margin-left: 0.5rem;
      color: var(--on-brand);

      @media (min-width: 768px) {
        vertical-align: top;
      }
    }
  }

  .navbar-toggler {
    @extend .btn;
    @extend .btn-lg;
    @extend .btn-primary;

    .navbar-toggler-icon {
      color: var(--on-brand);
      background-image: none;
      display: flex;
      width: auto;
      &::before {
        content: "\F479"; /* list */
        font-family: "bootstrap-icons";
        text-align: center;
        font-size: 1.25rem;
      }
      &::after {
        content: "選單";
        margin-left: 0.25rem;
      }
    }

    &:not(.collapsed) {
      background-color: var(--brand-strong);
      border-color: var(--brand-strong);
      box-shadow: 0 0 0 2px var(--brand-flat-strong) inset !important;
      border-color: var(--brand-flat-strong);
      .navbar-toggler-icon {
        color: var(--on-brand);
        background-image: none;
        display: flex;
        width: auto;
        &::before {
          content: "\F62A"; /* x */
          font-family: "bootstrap-icons";
          text-align: center;
          font-size: 1.25rem;
        }
        &::after {
          content: "選單";
          margin-left: 0.25rem;
        }
      }
    }
  }

  .nav-item {
    margin: 0.25rem 0;
    margin-right:1.25rem;

    a {
      text-decoration: none;
    }

    &:last-child {
      margin-right: 0;
    }

    i {
      font-size: 1.5rem;
    }
    @media (max-width: 767px) {
      margin-right: 0;
    }
  }

  .nav-link {
    @extend .label-text;
    padding: 0.375rem 0.875rem !important;
    background-color: var(--brand);
    color: var(--on-brand);

    @media (max-width: 767px) {
      background-color: var(--surface);
      border-color: var(--surface);
      color: var(--on-background);
      margin: 0.25rem 0 !important;
      padding: 0.75rem !important;
      border-radius: 0.5rem;
    }

    &.dropdown-toggle {
      @extend .btn;
      @extend .btn-lg;
      @extend .btn-primary;

      @media (min-width: 768px) {
        font-size: 0.875rem;
        line-height: 1.25rem;
        letter-spacing: 0.1px;
      }
      
      @media (max-width: 767px) {
        background-color: var(--surface);
        border-color: var(--surface);
        color: var(--on-background);
  
        &:hover {
          background-color: var(--surface-1);
          border-color: var(--surface-1);
          color: var(--on-background);
        }
        
      }
  
      &.show {
        background-color: var(--surface-1);
        border-color: var(--surface-1);
        color: var(--on-background);
        box-shadow: 0 0 0 2px var(--brand-flat-strong) inset !important;
  
        @media (min-width: 768px) {
          background-color: var(--brand-strong);
          color: var(--on-brand);
          box-shadow: 0 0 0 2px var(--brand-flat-strong) inset !important;
          border-color: var(--brand-flat-strong);
        }
  
        &::after {
          background-image: none;
          content: "\f286"; /* Chevron down */
          font-family: "bootstrap-icons";
          text-align: center;
          vertical-align: bottom;
          border: 0;
          font-size: 0.75rem;
          margin-left: auto;
  
          @media (min-width: 768px) {
            margin-left: 0.25rem;
          }
        }
      }
  
      &.dropdown-toggle-icon {
        font-size: 1.125rem;
      }
  
      i {
        font-size: 1.125rem;
      }
    }
  }

  .navbar-collapse{
    width: 100%;
    //background-color: var(--surface);
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    
    /* @media (min-width: 768px) {
      background-color: var(--brand);
    } */
  }

  .navbar-nav {
    width: 100%;
  }

  .search-menu {
    @media (max-width: 767px) {
      display: block;
      padding: 0;
      background-color: var(--brand);
      box-shadow: none;
    }

    .hot-searching {
      padding: 0.75rem 0.5rem;

      @media (max-width: 767px) {
        color: var(--on-brand);

        * {
          color: var(--on-brand);
          margin-right: 0.5rem;
        }
      }
    }

  }

  .setting-menu {
    @media (max-width: 767px) {
      display: block;
      margin-top: 1rem;
      background-color: var(--brand-strong);
      color: var(--on-brand);
      box-shadow: none;

      li > * {
        &:not(.form-select) {
          padding: 0;
          color: var(--on-brand);
        }
      }
    }
  }

  .btn-group {
    padding: 0.5rem 0.75rem;
    @media (max-width: 767px) {
      width: 100%;
      padding-top: 0.5rem !important;
    }
  }

  .dropdown-menu-title {
    @extend .label-text-lg;
    padding: 0;

    @media (min-width: 768px) {
      font-size: 0.875rem;
      line-height: 1.25rem;
      letter-spacing: 0.1px;
      padding: 0.5rem 0.75rem;
    }
  }

  .dropdown-item-header {
    @extend .unclickable;
    display: none;

    @media (max-width: 767px) {
      padding: 1rem 0 !important;
      display: block;

      &:hover {
        color: var(--on-brand) !important;
      }
    }
  }

  .dropdown-item-title {
    @extend .unclickable;
    @media (max-width: 767px) {
      padding-top: 0.5rem !important;
      padding-bottom: 0.25rem !important;

      &:hover {
        color: var(--on-brand) !important;
      }
    }
  }

  &.bg-surface {
    background-color: var(--surface);

    .navbar-brand {
      color: var(--on-surface);
      background-color: var(--surface);

      .navbar-brand-title {
        color: var(--on-surface);
      }
  
      .navbar-brand-subtitle {
        color: var(--on-surface);
      }
    }

    .navbar-toggler {
      background-color: var(--surface);
      border-color:  var(--surface);

      .navbar-toggler-icon {
        color: var(--on-brand-flat);
      }
    }

    .nav-link.dropdown-toggle {
      color: var(--on-brand-flat);
      background-color: var(--surface);

      &:hover {
        color: var(--on-brand-flat);
        background-color: var(--surface-1);
      }

      &:active, &:focus-visible {
        color: var(--on-brand-flat);
        background-color: var(--surface-1);
        box-shadow: 0 0 0 2px var(--brand-flat-strong) inset !important;
        border-color: var(--brand-flat-strong);
      } 
    }

    .search-menu {
      @media (max-width: 767px) {
        background-color: var(--surface);
      }
  
      .hot-searching {
        @media (max-width: 767px) {
          color: var(--on-brand-flat);
  
          * {
            color: var(--on-brand-flat);
          }
        }
      }
  
    }
  
    .setting-menu {
      @media (max-width: 767px) {
        background-color: var(--surface-1);
        color: var(--on-surface);
  
        li > * {
          &:not(.form-select) {
            padding: 0;
            color: var(--on-surface);
          }
        }
      }
    }

    .dropdown-item-header {
      @media (max-width: 767px) {
        &:hover {
          color: var(--on-surface) !important;
        }
      }
    }
  
    .dropdown-item-title {
      @media (max-width: 767px) {
        &:hover {
          color: var(--on-surface) !important;
        }
      }
    }

    .navbar-collapse{
      background-color: var(--surface);
    }

    .offcanvas-body {
      @media (min-width: 768px) {
        background-color: var(--surface) !important;
      }
    }
  }

  &.bg-brand-flat {
    .navbar-brand {
      color: var(--on-surface);
      background-color: var(--brand-flat);

      .navbar-brand-title {
        color: var(--on-surface);
      }
  
      .navbar-brand-subtitle {
        color: var(--on-surface);
      }
    }

    .navbar-toggler {
      background-color: var(--brand-flat);
      border-color: var(--brand-flat);

      .navbar-toggler-icon {
        color: var(--on-brand-flat);
      }
    }

    .nav-link.dropdown-toggle {
      color: var(--on-brand-flat);
      background-color: var(--surface);

      &:hover {
        color: var(--on-brand-flat);
        background-color: var(--surface-1);
      }

      &:active, &:focus-visible {
        color: var(--on-brand-flat);
        background-color: var(--surface-1);
        box-shadow: 0 0 0 2px var(--brand-flat-strong) inset !important;
        border-color: var(--brand-flat-strong);
      } 
      @media (min-width: 768px) {  
        color: var(--on-brand-flat);
        background-color: var(--brand-flat);
  
        &:hover {
          color: var(--on-brand-flat);
          background-color: var(--brand-flat-strong);
        }
  
        &:active, &:focus-visible {
          color: var(--on-brand-flat);
          background-color: var(--brand-flat-strong);
          box-shadow: 0 0 0 2px var(--brand) inset !important;
          border-color: var(--brand);
        } 
      }
    }

    .dropdown-item-header {
      @media (max-width: 767px) {
        &:hover {
          color: var(--on-surface) !important;
        }
      }
    }
  
    .dropdown-item-title {
      @media (max-width: 767px) {
        &:hover {
          color: var(--on-surface) !important;
        }
      }
    }

    .search-menu {
      @media (max-width: 767px) {
        background-color: var(--brand-flat);
      }
  
      .hot-searching {
        @media (max-width: 767px) {
          color: var(--on-brand-flat);
  
          * {
            color: var(--on-brand-flat);
          }
        }
      }
  
    }
  
    .setting-menu {
      @media (max-width: 767px) {
        background-color: var(--brand-flat-strong);
        color: var(--on-surface);
  
        li > * {
          &:not(.form-select) {
            padding: 0;
            color: var(--on-surface);
          }
        }
      }
    }

    .navbar-collapse{
      background-color: var(--brand-flat);
    }

    .offcanvas-body {
      background-color: var(--brand-flat);  
    }
  }

  &.single-row {
    .container {
      flex-wrap: nowrap
    }
  }

  .offcanvas {
    @media (min-width: 768px) {
      width: 100%;
    }

    .offcanvas-header {
      @extend .title-text-lg;
      background-color: var(--surface);
      color: var(--on-surface);
    }

    .offcanvas-body {
      background-color: var(--surface);
      padding-bottom: 1rem;

      @media (min-width: 768px) {
        background-color: var(--brand);
      }
    }
  }
}
