.navbar {
  padding: 0;
  background-color: var(--brand);
  color: var(--on-brand);

  nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap
  }

  .container {
    flex-wrap: wrap
  }

  .navbar-brand-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;

    @media (min-width: 768px) {
      margin-bottom: 1.5rem;
      padding-top: 1rem;
      padding-bottom: 0;
    }
  }

  .navbar-brand {
    @extend .title-text-lg;
    color: var(--on-brand);

    .navbar-brand-title {
      vertical-align: center;
      margin-left: 0.5rem;

      @media (min-width: 768px) {
        vertical-align: top;
      }
    }

    .navbar-brand-subtitle {
      @extend .title-text;
      margin-top: 0.5rem;
      vertical-align: center;
      margin-left: 0.5rem;

      @media (min-width: 768px) {
        vertical-align: top;
      }
    }
  }

  .navbar-toggler {
    @extend .btn;
    @extend .btn-lg;
    @extend .btn-primary;

    .navbar-toggler-icon {
      color: var(--on-brand);
      background-image: none;
      display: flex;
      width: auto;
      &::before {
        content: "\F479"; /* list */
        font-family: "bootstrap-icons";
        text-align: center;
        font-size: 1.25rem;
      }
      &::after {
        content: "選單";
        margin-left: 0.25rem;
      }
    }
  }

  .nav-link.dropdown-toggle {
    @extend .btn;
    @extend .btn-lg;
    @extend .btn-primary;

    @media (min-width: 768px) {
      font-size: 0.875rem;
      line-height: 1.25rem;
      letter-spacing: 0.1px;
    }
    
    @media (max-width: 767px) {
      background-color: var(--surface);
      border-color: var(--surface);
      color: var(--on-background);

      &:hover {
        background-color: var(--surface-1);
        border-color: var(--surface-1);
        color: var(--on-background);
      }
      
    }

    &.show {
      background-color: var(--surface-1);
      border-color: var(--surface-1);
      color: var(--on-background);
      box-shadow: 0 0 0 2px var(--brand-flat-strong) inset !important;

      @media (min-width: 768px) {
        background-color: var(--brand-strong);
        color: var(--on-brand);
        box-shadow: 0 0 0 2px var(--brand-flat-strong) inset !important;
        border-color: var(--brand-flat-strong);
      }

      &::after {
        background-image: none;
        content: "\f286"; /* Chevron down */
        font-family: "bootstrap-icons";
        text-align: center;
        vertical-align: bottom;
        border: 0;
        font-size: 1.125rem;
        margin-left: auto;

        @media (min-width: 768px) {
          margin-left: 0.25rem;
        }
      }
    }
  }

  .navbar-collapse{
    background-color: var(--surface);
    padding-bottom: 1rem;
    
    @media (min-width: 768px) {
      background-color: var(--brand);
    }
  }

  .search-menu {
    @media (max-width: 767px) {
      display: block;
    }
  }

  .setting-menu {
    @media (max-width: 767px) {
      display: block;
      background-color: var(--surface-3);

      li > * {
        &:not(.form-select) {
          padding: 0;
        }
      }
    }
  }

  .btn-group {
    padding: 0.5rem 0.75rem;
    @media (max-width: 767px) {
      width: 100%;
      padding-top: 0.5rem !important;
    }
  }

  .dropdown-item-header {
    padding: 1rem 0 !important;
    display: block;

    @media (min-width: 768px) {
      display: none;

    }
  }

  
  .dropdown-item-title {
    @media (max-width: 767px) {
      padding-top: 0.5rem !important;
      padding-bottom: 0.25rem !important;
    }
  }

  &.bg-surface {
    background-color: var(--surface);

    .navbar-brand {
      color: var(--on-surface);
      background-color: var(--surface);
    }

    .navbar-toggler {
      background-color: var(--surface);
      border-color:  var(--surface);

      .navbar-toggler-icon {
        color: var(--on-brand-flat);
      }
    }

    .nav-link.dropdown-toggle {
      color: var(--on-brand-flat);
      background-color: var(--surface);

      &:hover {
        color: var(--on-brand-flat);
        background-color: var(--surface-1);
      }

      &:active, &:focus-visible {
        color: var(--on-brand-flat);
        background-color: var(--surface-1);
        box-shadow: 0 0 0 2px var(--brand-flat-strong) inset !important;
        border-color: var(--brand-flat-strong);
      } 
    }

    .navbar-collapse{
      background-color: var(--surface);
    }

    .offcanvas-body {
      @media (min-width: 768px) {
        background-color: var(--surface) !important;
      }
    }
  }

  &.bg-brand-flat {
    .navbar-brand {
      color: var(--on-surface);
      background-color: var(--brand-flat);
    }

    .navbar-toggler {
      background-color: var(--brand-flat);
      border-color: var(--brand-flat);

      .navbar-toggler-icon {
        color: var(--on-brand-flat);
      }
    }

    .nav-link.dropdown-toggle {
      color: var(--on-brand-flat);
      background-color: var(--surface);

      &:hover {
        color: var(--on-brand-flat);
        background-color: var(--surface-1);
      }

      &:active, &:focus-visible {
        color: var(--on-brand-flat);
        background-color: var(--surface-1);
        box-shadow: 0 0 0 2px var(--brand-flat-strong) inset !important;
        border-color: var(--brand-flat-strong);
      } 
      @media (min-width: 768px) {  
        color: var(--on-brand-flat);
        background-color: var(--brand-flat);
  
        &:hover {
          color: var(--on-brand-flat);
          background-color: var(--brand-flat-strong);
        }
  
        &:active, &:focus-visible {
          color: var(--on-brand-flat);
          background-color: var(--brand-flat-strong);
          box-shadow: 0 0 0 2px var(--brand) inset !important;
          border-color: var(--brand);
        } 
      }
    }

    .navbar-collapse{
      background-color: var(--surface);
    
      @media (min-width: 768px) {     
        background-color: var(--brand-flat);
      }
    }

    .offcanvas-body {
      background-color: var(--surface);
      
      @media (min-width: 768px) {
        background-color: var(--brand-flat) !important;
      }
    }
  }

  &.single-row {
    nav {
      display: flex;
    }

  }

  .offcanvas {
    .offcanvas-header {
      @extend .title-text-lg;
      background-color: var(--surface);
      color: var(--on-surface);
    }

    .offcanvas-body {
      background-color: var(--surface);
      padding-bottom: 1rem;

      @media (min-width: 768px) {
        background-color: var(--brand);
      }
    }
  }
}
