.list-group {
  .list-group-item {
    @extend .body-text;
    display: flex;
    align-items: center;
    border: none;
    padding: 1rem;

    .list-group-item-subheader {
      @extend .body-text-sm;
      margin-left: 0.5rem;
    }

    i {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      font-size: 1.125rem;
      font-weight: 500;
  
      &:first-child {
        margin-left: 0;
      }
  
      &:last-child {
        margin-right: 0;
      }
    }

    a {
      text-decoration: none;
    }

    &:hover, &:focus, &:active {
      background-color: var(--surface);
    }
  }

  &.divider {
    .list-group-item {
      border-bottom: 1px solid var(--outline);
      border-radius: 0;
    }
  }

  &.border {
    border: 1px solid var(--outline) !important;

    &.divider{
      .list-group-item:first-child {
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
      }

      .list-group-item:last-child {
        border-bottom: none;
        border-radius: 0.5rem;
      }
    }
  }

  &.twoline {
    .list-group-item {
      display: flex;

      .list-group-item-subheader {
        margin-left: 0;
      }
    }
  }
}

/* 
.list {
  .list-item {
    display: block;
    margin: 0;
    padding: 0.5rem 0;

    i {
      margin-right: 0.5rem;
    }
  }

  .list-item-subheader {
    display: inline;
    margin-left: 0.5rem;
    color: #6b6b6b;
  }

  .list-item-bottom-border {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-width: 0 0 1px;
  }

  .list-item-link {
    margin-left: 0.5rem;
  }

  .list-item-ordered {
    display: list-item;
    margin: 0 1.25rem;
  }

  .list-item-twoline {
    * {
      display: block;
      margin-left: 0;
    }
  }

  .list-item-twoline-ordered {
    @extend .list-item-ordered;
    @extend .list-item-twoline;
  }

  .nested-list {
    padding: 0 1rem;
  }
}

.time-list {
  .list-item {
    display: flex;
  }

  .list-item-subheader {
    display: block;
    margin: 0;
    color: #6b6b6b;
  }

  .list-item-multiline {
    display: block;
  }

  .list-item-date {
    margin-right: 0.5rem;
    min-width: fit-content;

  }

  .list-item-content {
    overflow: hidden;
  }

}
 */