:root {
  @each $name, $items in $colors {
    --#{$name}: #{map.get($items, "base", "normal")};
    --#{$name}-strong: #{map.get($items, "base", "strong")};
    --on-#{$name}: #{map.get($items, "base", "on")};
    --#{$name}-smooth: #{map.get($items, "smooth", "normal")};
    --#{$name}-smooth-strong: #{map.get($items, "smooth", "strong")};
    --on-#{$name}-smooth: #{map.get($items, "smooth", "on")};
  }

  @each $name, $attr in $surfaces {
    --#{$name}: #{$attr};
  }

  --bs-primary: var(--brand);
  --bs-secondary: var(--accent);
  --bs-success: var(--positive);
  --bs-info: var(--information);
  --bs-warning: var(--warning);
  --bs-danger: var(--negative);
  --bs-background: $background;
  --bs-on-background: $on-background;
  --bs-dark: var(--bs-on-background);
  --bs-body-bg: var(--bs-background);
  --bs-body-color: var(--bs-on-background);
  --bs-font-sans-serif: "Noto Sans", "Noto Sans TC", sans-serif;
}
