.form-select {
  @extend .label-text;
  color: var(--on-surface);
  background-color: var(--surface);
  border: 1px solid var(--outline);

  
  &:hover {
    background-color: var(--surface-2);
    border: 1px solid var(--outline);
  }

  &:active,
  &:focus {
    background-color: var(--surface-2);
    border: 1px solid var(--brand-flat-strong);
    box-shadow: 0 0 0 2px var(--brand-flat-strong) inset;
  }

  &:disabled {
    color: var(--on-surface);
    background-color: var(--surface);
    border: 1px solid var(--outline);
    opacity: 0.6;
  }

  &.form-select-sm {
    @extend .label-text-sm;
  }

  &.form-select-lg {
    @extend .label-text-lg;
  }
}

option {
  background: var(--surface);
}

optgroup {
  background: var(--surface);
  color: var(--on-surface-variant) !important;
  font-weight: normal !important;
  font-size: 16px !important;
}