.tab-text {
  @extend .label-text;
  border-radius: 0.625rem;
  padding: 0.5rem 1.125rem;

  i {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    font-size: 1.125rem;
    font-weight: 500;
    vertical-align: middle;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  span {
    vertical-align: middle;
  }
}

.tab-text-sm {
  @extend .label-text-sm;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;

  i {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    font-size: 1rem;
    font-weight: 500;
    vertical-align: middle;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  span {
    vertical-align: middle;
  }
}

.tab-text-lg {
  @extend .label-text-lg;
  padding: 0.5rem 1.25rem;
  border-radius: 0.75rem;

  i {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    font-size: 1.25rem;
    font-weight: 500;
    vertical-align: middle;
    
    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  span {
    vertical-align: middle;
  }
}


.nav-tabs {
  border-bottom: 0;
  .nav-item {
    display: inline-block;
    margin-bottom: 0.5rem;

    .nav-link {
      @extend .tab-text;
      border: 0;
      text-decoration: none;
      border-radius: 8px 8px 0px 0px;
      border-bottom: 2px solid var(--surface-variant);
      transition: color .22s ease-in-out,background-color .22s ease-in-out,border-color .22s ease-in-out;

      &:hover {
        color: var(--on-background);
        background-color: var(--surface);
      }
    
      &:focus, &:active {
        color: var(--on-background);
        background-color: var(--surface-1);
        box-shadow: none !important;
        border-bottom: 2px solid var(--brand-flat-strong);
      }

      &.disabled {
        opacity: 0.6;
      }

      &.active {
        border-bottom: 2px solid var(--brand);
        margin-bottom: 1px;
      }
    }
  }
}

.nav-pills {
  .nav-item {
    margin-bottom: 0.5rem;
    margin-right: 0.25rem;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    .nav-link {
      @extend .tab-text;
      text-decoration: none;
      transition: color .22s ease-in-out,background-color .22s ease-in-out,border-color .22s ease-in-out;
  
      &:hover {
        color: var(--on-background);
        background-color: var(--surface);
      }
    
      &:focus, &:active {
        color: var(--on-background);
        background-color: var(--surface-1);
        box-shadow: 0 0 0 2px var(--brand-flat-strong) inset;
      }
  
      &:first-child {
        margin-left: 0;
      }
  
      &:last-child {
        margin-right: 0;
      }
  
      &.disabled {
        opacity: 0.6;
      }
  
      &.active {
        color: var(--on-background);
        background-color: var(--surface-3);
        &:hover {
          background-color: var(--surface-5);
        }

        &:active, &:focus {
          background-color: var(--surface-5);
          box-shadow: 0 0 0 2px var(--brand-flat-strong) inset !important;
        }
      }
  
      &:active, &:focus {
        box-shadow: none !important;
      }
    }
  }
}

.tab-content {
  margin-top: 0.5rem;
}

.nav-scroll {
  display: flex;
  .nav-scroll-wrapper {
    white-space: nowrap;
    display: flex;
    overflow: hidden;

    .nav {
      flex-wrap: nowrap;
    }
  }
  button {
    margin: 0 0.5rem;
    
    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.tabs-sm {
  .nav-item {
    .nav-link {
      @extend .tab-text-sm;
    }
  }
}

.tabs-lg {
  .nav-item {
    .nav-link {
      @extend .tab-text-lg;
    }
  }
}

.fade {
  transition: opacity .3s linear;
}