.nav-tabs {
  border-bottom: 0;
  .nav-item {
    display: inline-block;

    .nav-link {
      @extend .label-text;
      border: 0;
      text-decoration: none;
      border-radius: 8px 8px 0px 0px;
      border-bottom: 2px solid var(--surface-variant);

      // &:hover {
      //   background-color: var(--surface);
      // }

      &:focus, &:active {
        box-shadow: none !important;
        border-bottom: 2px solid var(--brand-flat-strong);
      }

      &:disabled {
        background: none;
        border-bottom: 2px solid var(--surface);
      }

      &.active {
        border-bottom: 2px solid var(--brand);
        margin-bottom: 1px;
      }
    }
  }
}

.nav-pills {
  .nav-link {
    @extend .label-text;
    text-decoration: none;
    margin-left: 2px;
    margin-right: 2px;

    // &:hover {
    //   color: var(--on-background);
    //   background-color: var(--surface);
    // }

    &:disabled {
      background: none;
    }

    &.active {
      color: var(--on-background);
      background-color: var(--surface-1);
      //box-shadow: 0 0 0 2px var(--brand-flat-strong);
    }
  }
}

.tab-content {
  margin-top: 1rem;
}

.nav-scroll {
  display: flex;
  .nav-scroll-wrapper {
    white-space: nowrap;
    display: flex;
    overflow: hidden;

    .nav {
      flex-wrap: nowrap;
    }
  }
}
