.label-text {
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: 0.625rem;
  padding: 0.5rem 1.125rem;
  letter-spacing: 0.1px;
  color: var(--on-background);
  background: none;

  &:hover {
    color: var(--on-background);
    background-color: var(--surface);
  }

  &:focus, &:active {
    color: var(--on-background);
    background-color: var(--surface-1);
    box-shadow: 0 0 0 2px var(--brand-flat-strong);
  }
  
  &:disabled {
    color: var(--outline);
  }
  
  i {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    font-size: 1.125rem;
    font-weight: 500;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.label-text-sm {
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  letter-spacing: 0.5px;
  color: var(--on-background);
  background: none;

  &:hover {
    color: var(--on-background);
    background-color: var(--surface);
  }

  &:focus, &:active {
    color: var(--on-background);
    background-color: var(--surface-1);
    box-shadow: 0 0 0 2px var(--brand-flat-strong);
  }

  &:disabled {
    color: var(--outline);
  }

  i {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    font-size: 1rem;
    font-weight: 500;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.label-text-lg {
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0.5rem 1.25rem;
  border-radius: 0.75rem;
  letter-spacing: 0.1px;
  color: var(--on-background);
  background: none;

  &:hover {
    color: var(--on-background);
    background-color: var(--surface);
  }

  &:focus, &:active {
    color: var(--on-background);
    background-color: var(--surface-1);
    box-shadow: 0 0 0 2px var(--brand-flat-strong);
  }

  &:disabled {
    color: var(--outline);
  }

  i {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    font-size: 1.25rem;
    font-weight: 500;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
