@each $key, $value in $color-envs {
  .bg-#{$key} {
    background-color: var(--#{$value}) !important;
    color: var(--on-#{$value});
  }
  .bg-#{$key}-smooth {
    background-color: var(--#{$value}-smooth) !important;
    color: var(--on-#{$value}-smooth);
  }
}

@each $key, $value in $color-envs {
  .text-#{$key} {
    color: var(--#{$value}) !important;
  }
}