<header class="navbar navbar-expand-md navbar-dark bd-navbar">
  <nav class="container-xxl flex-wrap" aria-label="Main navigation">
    <a class="navbar-brand p-0 me-2" href="/" aria-label="Bootstrap">
      {{- $image := resources.Get "img/pdis-logo-final-inverse.png" -}}
      <img src="{{ $image.RelPermalink }}" width=40 height=40 alt="pdis logo">
      <span class="text-black"> 設計系統 </span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#bdNavbar"
      aria-controls="bdNavbar" aria-expanded="false" aria-label="Toggle navigation">
      {{ partial "icons/hamburger.svg" (dict "class" "bi" "width" "32" "height" "32") }}
    </button>

    <div class="collapse navbar-collapse" id="bdNavbar">
      <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav pt-2 py-md-0">
<!--         <li class="nav-item col-6 col-md-auto">
          <a class="nav-link p-2{{ if .IsHome }} active" aria-current="page{{ end }}" href="/"> Home </a>
        </li> -->
        <li class="nav-item col-6 col-md-auto">
          <a class="nav-link p-2{{ if eq .Page.Title "PDIS 設計系統" }} active" aria-current="true{{ end }}"
            href="/intro/">介紹</a>
        </li>
        <li class="nav-item col-6 col-md-auto">
          <a class="nav-link p-2{{ if eq .Page.Title "風格" }} active" aria-current="true{{ end }}"
            href="/docs/style/">風格</a>
        </li>
        <li class="nav-item col-6 col-md-auto">
          <a class="nav-link p-2{{ if eq .Page.Title "元件" }} active" aria-current="true{{ end }}"
            href="/docs/components/">元件</a>
        </li>
        <li class="nav-item col-6 col-md-auto">
          <a class="nav-link p-2 disabled text-muted"
            href="/docs/">使用說明</a>
        </li>
        <li class="nav-item col-6 col-md-auto">
          <a class="nav-link p-2 disabled text-muted"
            href="/docs/">製作過程</a>
        </li>
      </ul>

      <hr class="d-md-none text-white-50">
<!-- 
      <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
        <li class="nav-item col-6 col-md-auto">
          <a class="nav-link p-2" href="{{ .Site.Params.github_org }}" target="_blank" rel="noopener">
            {{ partial "icons/github.svg" (dict "class" "navbar-nav-svg d-inline-block align-text-top" "width" "36" "height" "36") }}
            <small class="d-md-none ms-2">GitHub</small>
          </a>
        </li>
        <li class="nav-item col-6 col-md-auto">
          <a class="nav-link p-2" href="https://twitter.com/{{ .Site.Params.twitter }}" target="_blank" rel="noopener">
            {{ partial "icons/twitter.svg" (dict "class" "navbar-nav-svg d-inline-block align-text-top" "width" "36" "height" "36") }}
            <small class="d-md-none ms-2">Twitter</small>
          </a>
        </li>
        <li class="nav-item col-6 col-md-auto">
          <a class="nav-link p-2" href="{{ .Site.Params.slack }}" target="_blank" rel="noopener">
            {{ partial "icons/slack.svg" (dict "class" "navbar-nav-svg d-inline-block align-text-top" "width" "36" "height" "36") }}
            <small class="d-md-none ms-2">Slack</small>
          </a>
        </li>
        <li class="nav-item col-6 col-md-auto">
          <a class="nav-link p-2" href="{{ .Site.Params.opencollective }}" target="_blank" rel="noopener">
            {{ partial "icons/opencollective.svg" (dict "class" "navbar-nav-svg d-inline-block align-text-top" "width" "36" "height" "36") }}
            <small class="d-md-none ms-2">Open Collective</small>
          </a>
        </li>
      </ul>
 -->
      <form class="bd-search position-relative ms-auto">
        <input type="search" class="form-control" id="search-input" placeholder="Search docs..."
          aria-label="Search docs for..." autocomplete="off" data-bd-docs-version="{{ .Site.Params.docs_version }}">
      </form>
    </div>
  </nav>
</header>
