<header class="navbar navbar-expand-md bg-surface">
  <nav class="container" aria-label="Main navigation">

    <a class="navbar-brand" href="/" aria-label="brand">
      {{- $image := resources.Get "img/pdis-logo-final-inverse.png" -}}
      <img class="rounded" src="{{ $image.RelPermalink }}" width=40 height=40 alt="pdis logo">
      <span class="navbar-brand-title">設計系統</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#bdNavbar"
      aria-controls="bdNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="bdNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link {{ if in .Page.CurrentSection "overview" }} active" aria-current="true{{ end }}"
            href="/docs/overview/">概述</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ if in .Page.CurrentSection "style" }} active" aria-current="true{{ end }}"
            href="/docs/style/">風格</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ if in .Page.CurrentSection "components" }} active" aria-current="true{{ end }}"
            href="/docs/components/">元件</a>
        </li>
<!--         <li class="nav-item">
          <a class="nav-link {{ if eq .Page.RelPermalink "/manual/" }} active" aria-current="true{{ end }}"
            href="/manual/">使用說明</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled text-muted"
            href="/docs/">製作過程</a>
        </li> -->
      </ul>

      <!-- <hr class="d-md-none text-white-50"> -->
<!--
      <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
        <li class="nav-item col-6 col-md-auto">
          <a class="nav-link p-2" href="{{ .Site.Params.github_org }}" target="_blank" rel="noopener">
            {{ partial "icons/github.svg" (dict "class" "navbar-nav-svg d-inline-block align-text-top" "width" "36" "height" "36") }}
            <small class="d-md-none ms-2">GitHub</small>
          </a>
        </li>
        <li class="nav-item col-6 col-md-auto">
          <a class="nav-link p-2" href="https://twitter.com/{{ .Site.Params.twitter }}" target="_blank" rel="noopener">
            {{ partial "icons/twitter.svg" (dict "class" "navbar-nav-svg d-inline-block align-text-top" "width" "36" "height" "36") }}
            <small class="d-md-none ms-2">Twitter</small>
          </a>
        </li>
        <li class="nav-item col-6 col-md-auto">
          <a class="nav-link p-2" href="{{ .Site.Params.slack }}" target="_blank" rel="noopener">
            {{ partial "icons/slack.svg" (dict "class" "navbar-nav-svg d-inline-block align-text-top" "width" "36" "height" "36") }}
            <small class="d-md-none ms-2">Slack</small>
          </a>
        </li>
        <li class="nav-item col-6 col-md-auto">
          <a class="nav-link p-2" href="{{ .Site.Params.opencollective }}" target="_blank" rel="noopener">
            {{ partial "icons/opencollective.svg" (dict "class" "navbar-nav-svg d-inline-block align-text-top" "width" "36" "height" "36") }}
            <small class="d-md-none ms-2">Open Collective</small>
          </a>
        </li>
      </ul>
 -->
      <!-- <form class="bd-search position-relative ms-auto">
        <input type="search" class="form-control" id="search-input" placeholder="Search docs..."
          aria-label="Search docs for..." autocomplete="off" data-bd-docs-version="{{ .Site.Params.docs_version }}">
      </form> -->
    </div>
  </nav>
</header>
