<footer>
  <div class="container">
    <p>PDIS 設計系統的目的在於提供協助製作政府網站設計與開發的團隊一套工具，更有效率地做出對使用者友善的數位服務。</p>
    <p>本站除另有標示外，內容以創用 CC BY 4.0 授權條款釋出。</p>
    <ul class="nav">
      <li class="nav-item"><a href="https://pdis.tw">PDIS 官網</a></li>
      <li class="nav-item"><a href="https://github.com/PDIS/design-system">PDIS 設計系統原始碼</a></li>
      <li class="nav-item"><a href="https://github.com/PDIS/design-system/tree/main/site">本站原始碼</a></li>
      <li class="nav-item"><a href="mailto:hello@pdis.tw">聯絡我們</a></li>
    </ul>
  </div>
</footer>