@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css");

html,
body {
  font-family: "Noto Sans", "Noto Sans TC", sans-serif !important;
  //text-underline-offset: 0.1em;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  margin-bottom: 1em;
  line-height: 1.2;
}

.bg-custom {
  background-color: #005aa8 !important;
}

.navbar-top {
  width: 100%;
  height: 1.5rem;
  background-color: #005aa8;
}

.navbar-bottom {
  width: 100%;
  height: 0.1rem;
  background-color: #005aa8;
}

.navbar-menu {
  justify-content: end;
}

.navbar-link-item {
  font-weight: 500 !important;
  color: #005aa8 !important;
}

.navbar-top-item {
}

.navbar-expand-lg {
  flex-wrap: wrap !important;
  justify-content: flex-start;
}

.navbar-toggler {
  background-color: #005aa8;
}

.navbar-light .navbar-toggler-icon {
  width: 100%;
  font-size: 1rem;
  background-image: none;
  vertical-align: -webkit-baseline-middle;
}

.bg-footer {
  background-color: #c1c2c3;
}

.badge {
  margin-right: 0.5em;
}

.badge-row {
  margin-bottom: 1rem;
}

.gov-badge {
  @extend .badge;
  @extend .bg-secondary-light;
}

.icon-btn {
  -webkit-text-stroke: thin;
}

.card-header {
  background-color: $gray-400;
  font-weight: 500;
}

.card-body {
  padding: 1rem 1.5rem 1.5rem 1.5rem;
}

.card-title {
  font-weight: 500;
}

.card-text {
  color: #6b6b6b;
}

.bg-card-img {
  background-image: url("../img/bg-text-card.png");
}

.card-list-link {
  margin-left: 0.25em;
}

.card-bg-gary {
  background-color: $gray-100;
}
