.btn {
  &.btn-primary, &.btn-brand {
    background-color: var(--bs-brand-base);
  
    &:hover {
      background-color: var(--bs-brand-strong);
      text-decoration: underline;
    }
  
    &:active {
      background-color: var(--bs-brand-strong);
      box-shadow: none !important;
    }
  
    &:focus {
      color: var(--bs-accent-base);
      background-color: var(--bs-brand-strong);
      text-decoration: underline;
      box-shadow: none !important;
    }
  }
  &.icon-btn {
    -webkit-text-stroke: thin;
    padding-right: 0;
  
    &:active {
      box-shadow: none !important;
    }
  
    &:focus {
      box-shadow: none !important;
    }
  }
}

.btn-link {
  &:hover {
    background: none;
    color: var(--bs-primary-dark);
  }

  &:active {
    background: none;
    border: 0;
    box-shadow: none;
  }

  &:focus {
    color: var(--bs-primary-dark);
    background-color: var(--bs-secondary);
    text-decoration: underline;
    border: 0;
    box-shadow: none;
  }
}
