.btn {

  &.btn-primary, &.btn-brand {
    background-color: var(--brand-base);
    border-color: var(--brand-base);
    color: white;
  
    &:hover {
      background-color: var(--brand-strong);
      border-color: var(--brand-strong);
      text-decoration: underline;
    }
  
    &:active {
      background-color: var(--brand-strong);
      border-color: var(--brand-strong);
      box-shadow: none !important;
    }
  
    &:focus {
      color: var(--accent-base);
      background-color: var(--brand-strong);
      border-color: var(--accent-base);
      text-decoration: underline;
      box-shadow: none !important;
    }
    
    &:disabled {
      background-color: var(--bs-gray-200);
      border-color: var(--bs-gray-200);
      color: var(--bs-gray-500);
    }
  }

  &.btn-success, &.btn-positive {
    background-color: var(--positive-base);
    border-color: var(--positive-base);
    color: white;
  
    &:hover {
      background-color: var(--positive-strong);
      border-color: var(--positive-strong);
      text-decoration: underline;
    }
  
    &:active {
      background-color: var(--positive-strong);
      border-color: var(--positive-strong);
      box-shadow: none !important;
    }
  
    &:focus {
      color: var(--accent-base);
      background-color: var(--positive-strong);
      border-color: var(--accent-base);
      text-decoration: underline;
      box-shadow: none !important;
    }

    &:disabled {
      background-color: var(--bs-gray-200);
      border-color: var(--bs-gray-200);
      color: var(--bs-gray-500);
    }
  }

  &.btn-danger, &.btn-negative {
    background-color: var(--negative-base);
    border-color: var(--negative-base);
    color: white;
  
    &:hover {
      background-color: var(--negative-strong);
      border-color: var(--negative-strong);
      text-decoration: underline;
    }
  
    &:active {
      background-color: var(--negative-strong);
      border-color: var(--negative-strong);
      box-shadow: none !important;
    }
  
    &:focus {
      color: var(--accent-base);
      background-color: var(--negative-strong);
      border-color: var(--accent-base);
      text-decoration: underline;
      box-shadow: none !important;
    }

    &:disabled {
      background-color: var(--bs-gray-200);
      border-color: var(--bs-gray-200);
      color: var(--bs-gray-500);
    }
  }

  &.btn-warning {
    background-color: var(--bs-warning-base);
    border-color: var(--bs-warning-base);
    color: white;
  
    &:hover {
      background-color: var(--bs-warning-strong);
      border-color: var(--bs-warning-strong);
      text-decoration: underline;
    }
  
    &:active {
      background-color: var(--bs-warning-strong);
      border-color: var(--bs-warning-strong);
      box-shadow: none !important;
    }
  
    &:focus {
      color: var(--accent-base);
      background-color: var(--bs-warning-strong);
      border-color: var(--accent-base);
      text-decoration: underline;
      box-shadow: none !important;
    }

    &:disabled {
      background-color: var(--bs-gray-200);
      border-color: var(--bs-gray-200);
      color: var(--bs-gray-500);
    }
  }

  &.btn-info {
    background-color: var(--bs-information-base);
    border-color: var(--bs-information-base);
    color: white;
  
    &:hover {
      background-color: var(--bs-information-strong);
      border-color: var(--bs-information-strong);
      text-decoration: underline;
    }
  
    &:active {
      background-color: var(--bs-information-strong);
      border-color: var(--bs-information-strong);
      box-shadow: none !important;
    }
  
    &:focus {
      color: var(--accent-base);
      background-color: var(--bs-information-strong);
      border-color: var(--accent-base);
      text-decoration: underline;
      box-shadow: none !important;
    }

    &:disabled {
      background-color: var(--bs-gray-200);
      border-color: var(--bs-gray-200);
      color: var(--bs-gray-500);
    }
  }

  &.btn-outline-primary, &.btn-outline-brand{
    background: none;
    color: var(--brand-base);
    border-color: var(--brand-base);

    &:hover {
      color: var(--brand-strong);
      border-color: var(--brand-strong);
      text-decoration: underline;
      background: none;
    }
  
    &:active {
      color: var(--brand-strong);
      border-color: var(--brand-strong);
      box-shadow: none !important;
      background: none;
    }
  
    &:focus {
      color: var(--brand-strong);
      border-color: var(--brand-strong);
      text-decoration: underline;
      box-shadow: none !important;
      background: none;
    }

    &:disabled {
      border-color: var(--bs-gray-500);
      color: var(--bs-gray-500);
    }
  }

  &.btn-outline-success, &.btn-outline-positive{
    background: none;
    color: var(--positive-base);
    border-color: var(--positive-base);

    &:hover {
      color: var(--positive-strong);
      border-color: var(--positive-strong);
      text-decoration: underline;
      background: none;
    }
  
    &:active {
      color: var(--positive-strong);
      border-color: var(--positive-strong);
      box-shadow: none !important;
      background: none;
    }
  
    &:focus {
      color: var(--positive-strong);
      border-color: var(--positive-strong);
      text-decoration: underline;
      box-shadow: none !important;
      background: none;
    }

    &:disabled {
      border-color: var(--bs-gray-500);
      color: var(--bs-gray-500);
    }
  }

  &.btn-outline-danger, &.btn-outline-negative{
    background: none;
    color: var(--negative-base);
    border-color: var(--negative-base);

    &:hover {
      color: var(--negative-strong);
      border-color: var(--negative-strong);
      text-decoration: underline;
      background: none;
    }
  
    &:active {
      color: var(--negative-strong);
      border-color: var(--negative-strong);
      box-shadow: none !important;
      background: none;
    }
  
    &:focus {
      color: var(--negative-strong);
      border-color: var(--negative-strong);
      text-decoration: underline;
      box-shadow: none !important;
      background: none;
    }

    &:disabled {
      border-color: var(--bs-gray-500);
      color: var(--bs-gray-500);
    }
  }

  &.btn-outline-warning{
    background: none;
    color: var(--bs-warning-base);
    border-color: var(--bs-warning-base);

    &:hover {
      color: var(--bs-warning-strong);
      border-color: var(--bs-warning-strong);
      text-decoration: underline;
      background: none;
    }
  
    &:active {
      color: var(--bs-warning-strong);
      border-color: var(--bs-warning-strong);
      box-shadow: none !important;
      background: none;
    }
  
    &:focus {
      color: var(--bs-warning-strong);
      border-color: var(--bs-warning-strong);
      text-decoration: underline;
      box-shadow: none !important;
      background: none;
    }

    &:disabled {
      border-color: var(--bs-gray-500);
      color: var(--bs-gray-500);
    }
  }

  &.btn-outline-info{
    background: none;
    color: var(--bs-information-base);
    border-color: var(--bs-information-base);

    &:hover {
      color: var(--bs-information-strong);
      border-color: var(--bs-information-strong);
      text-decoration: underline;
      background: none;
    }
  
    &:active {
      color: var(--bs-information-strong);
      border-color: var(--bs-information-strong);
      box-shadow: none !important;
      background: none;
    }
  
    &:focus {
      color: var(--bs-information-strong);
      border-color: var(--bs-information-strong);
      text-decoration: underline;
      box-shadow: none !important;
      background: none;
    }

    &:disabled {
      border-color: var(--bs-gray-500);
      color: var(--bs-gray-500);
    }
  }

  &.btn-link {
    color: var(--brand-base);

    &:hover {
      background: none;
      color: var(--brand-strong);
    }

    &:active {
      background: none;
      box-shadow: none;
      color: var(--brand-strong);
    }

    &:focus {
      color: var(--brand-strong);
      background-color: var(--accent-base);
      text-decoration: underline;
      box-shadow: none;
    }

    &:disabled {
      color: var(--bs-gray-500);
    }
  }

  &.icon-btn {
    -webkit-text-stroke: thin;
    padding-right: 0;
  
    &:active {
      box-shadow: none !important;
    }
  
    &:focus {
      box-shadow: none !important;
    }
  }
}

