.card {
  .card-header {
    background-color: $gray-400;
    font-weight: 500;
    padding: 1rem 1.5rem 1rem 1.5rem;
  }

  .card-body {
    padding: 1rem 1.5rem 1.5rem 1.5rem;
  }

  .card-title {
    margin-bottom: 1rem;
    font-weight: 500;
  }

  .card-text {
    color: #6b6b6b;
  }

  .card-date {
    color: #6b6b6b;
  }

  .card-bg-gary {
    background-color: $gray-100;
  }
}

.card-text-center {
  @extend .card;
  @extend .text-center;
}

.card-borderless {
  @extend .card;
  @extend .border-0;
}

.card-shadow {
  @extend .card;
  @extend .shadow-sm;
}

.text-card {
  @extend .card;
  @extend .border-dark;

  .card-body {
    padding: 1.5rem;
  }

  .card-title {
    font-weight: 900;
    margin-bottom: 1rem;
  }

  .card-text {
    color: #121212;
    margin-bottom: 0;
  }
}

.card-bg-img {
  background-image: url("../img/bg-text-card.png");
}

.list-card {
  @extend .card;

  .card-body {
    padding: 1.5rem;
  }

  .card-title {
    font-weight: 900;
    margin-bottom: 1rem;
  }

  .card-text {
    color: #121212;
    margin-bottom: 1rem;
  }

  .card-extra-link {
    margin: 0 0.5rem;

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }

  .list-group {
    @extend .list-group-flush;

    .list-group-item {
      padding: 0.75rem 1.5rem;
    }

    .list-group-item-subheader {
      display: inline;
      margin-left: 0.5rem;
      color: #6b6b6b;
    }
    
    .list-group-item-borderless {
      @extend .list-group-item;
      @extend .border-0;

      &:last-child {
        margin-bottom: 0.5rem;
      }
    }
  
  }

  .list-group-borderless {
    @extend .list-group;
    @extend .border-0;
  }
}