.dropdown {
  .dropdown-btn {
    @extend .btn;
    @extend .btn-link;
    @extend .dropdown-toggle;
    &:active,
    &:focus {
      color: $secondary-light;
      background-color: $primary;
    }
  }
  .dropdown-menu {
    border: 0;
    border-left: solid;
    border-color: $primary;
    border-radius: 0;
  }

  .dropdown-item {
    color: $primary;
    &:hover {
      color: $primary-dark;
    }
    &:active,
    &:focus {
      color: $secondary-light;
      background-color: $primary;
    }
  }
}
