.dropdown {
  .dropdown-btn {
    @extend .btn;
    @extend .btn-link;
    @extend .dropdown-toggle;
    &:active,
    &:focus {
      color: var(--bs-secondary-light);
      background-color: var(--bs-primary);
    }
  }
  .dropdown-menu {
    border: 0;
    border-left: solid;
    border-color: var(--bs-primary);
    border-radius: 0;
  }

  .dropdown-item {
    color: var(--bs-primary);
    &:hover {
      color: var(--bs-primary-dark);
    }
    &:active,
    &:focus {
      color: var(--bs-secondary-light);
      background-color: var(--bs-primary);
    }
  }
}
