.list {
  .list-item {
    display: block;
    margin: 0;
    padding: 0.5rem 0;
    i {
      margin-right: 0.5rem;
    }
  }

  .list-item-subheader {
    display: inline;
    margin-left: 0.5rem;
    color: #6b6b6b;
  }

  .list-item-bottom-border {
    @extend .list-item;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-width: 0 0 1px;
  }

  .list-item-link {
    margin-left: 0.5rem;
  }

  .list-item-ordered {
    @extend .list-item;
    display: list-item;
    margin: 0 1.25rem;
  }

  .list-item-twoline {
    @extend .list-item;
    * {
      display: block;
      margin-left: 0;
    }
  }

  .list-item-twoline-ordered {
    @extend .list-item-ordered;
    @extend .list-item-twoline;
  }

  .nested-list {
    padding: 0 1rem;
  }
}

.time-list {
  @extend .list;
  .list-item {
    display: flex;
  }

  .list-item-date {
    margin-right: 0.5rem;
    min-width: fit-content;
  }

  .list-item-content {
    overflow: hidden;
  }

  .list-item-subheader {
    display: block;
    margin: 0;
    color: #6b6b6b;
  }

  .list-item-multiline {
    display: block;
  }

  .list-item-badge {
    @extend .badge;
    margin: 0;
    margin-right: 0.5rem;
  }

  .list-item-date-badge {
    @extend .badge;
    margin-left: 0.5rem !important;
  }
}
