.pdis-badge {
  @extend .badge;
  margin: 0 0.25rem;
  padding: 0.5rem;
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}

.pdis-badge-collections {
  margin-bottom: 1rem;
}

.gov-badge {
  @extend .badge;
  @extend .bg-secondary-light;
}
