.pdis-card {
  @extend .card;

  .card-header {
    background-color: $gray-400;
    font-weight: 500;
    padding: 1rem 1.5rem 1rem 1.5rem;
  }

  .card-body {
    padding: 1rem 1.5rem 1.5rem 1.5rem;
  }

  .card-title {
    margin-bottom: 1rem;
    font-weight: 500;
  }

  .card-text {
    color: #6b6b6b;
  }

  .card-date {
    color: #6b6b6b;
  }

  .card-bg-gary {
    background-color: $gray-100;
  }
}

.pdis-card-text-center {
  @extend .pdis-card;
  @extend .text-center;
}

.pdis-card-no-border {
  @extend .pdis-card;
  @extend .border-0;
}

.pdis-card-shadow {
  @extend .pdis-card;
  @extend .shadow-sm;
}

.pdis-text-card {
  @extend .pdis-card;
  @extend .border-dark;

  .card-body {
    padding: 1.5rem;
  }

  .card-title {
    font-weight: 900;
    margin-bottom: 1rem;
  }

  .card-text {
    color: #121212;
    margin-bottom: 0;
  }
}

.card-bg-img {
  background-image: url("../img/bg-text-card.png");
}

.pdis-list-card {
  @extend .pdis-card;

  .card-body {
    padding: 1.5rem;
  }

  .card-title {
    font-weight: 900;
    margin-bottom: 1rem;
  }

  .card-text {
    color: #121212;
    margin-bottom: 1rem;
  }

  .card-extra-link {
    margin: 0 0.5rem;

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
