// PDIS's local docs style

/* mod from /scss/_navbar */
@include media-breakpoint-up(md) {
    .navbar-expand-md .navbar-collapse {
        flex-basis: 100%;
    }
}

/* mod from /site/assets/scss/_navbar */
.bd-navbar {
    background-color: $gray-200;
  
    .navbar-nav {
      .nav-link {
        color: rgba($primary, .85);
  
        &:hover,
        &:focus {
          color: $primary;
        }
  
        &.active {
          color: $primary;
        }
      }
    }
  }
  