/* $primary: #005aa8;
$secondary: #f9a602;
$success: #4ba979;
$info: #3e2a00;
$warning: #e35d6a;
$danger: #ab361d;
$primary-dark: #003c70;
$primary-light: #9cd1ff;
$secondary-dark: #3e2a00;
$secondary-light: #fedc98;

$custom-colors: (
  "primary-dark": $primary-dark,
  "primary-light": $primary-light,
  "secondary-dark": $secondary-dark,
  "secondary-light": $secondary-light,
); */

$accordion-button-active-bg: var(--bs-brand-base);
$accordion-button-active-color: white;
$accordion-icon-color: var(--bs-brand-base);
$accordion-icon-active-color: white;

$sidebar-icon-color: black;
$sidebar-icon-active-color: var(--bs-brand-base);
$sidebar-icon-hover-color: white;

:root {
  --bs-brand-base: #0969A2;
  --bs-brand-strong: #011E4D;
  --bs-accent-base: #FFB000;
  --bs-accent-strong: #7A4400;
  --bs-background-primary: #FEFEFE;
  --bs-background-secondary: #F8F9FA;
  --bs-background-tertiary: #E9ECEF;
  --bs-text-primary: #121212;
  --bs-text-secondary: #4D4D4D;
  --bs-positive-base: #1A7C22;
  --bs-positive-strong: #043B1D;
  --bs-negative-base: #CE1E1E;
  --bs-negative-strong: #620526;
  --bs-warning-base: #FF5900;
  --bs-warning-strong: #7A0B00;
  --bs-information-base: #0077CC;
  --bs-information-strong: #002261;
  --bs-primary: var(--bs-brand-base) !important;
  --bs-secondary: var(--bs-accent-base) !important;
  --bs-success: var(--bs-positive-base) !important;
  --bs-info: var(--bs-information-base) !important;
  --bs-warning: var(--bs-warning-base) !important;
  --bs-danger: var(--bs-negative-base) !important;
  --bs-dark: var(--bs-text-primary) !important;
}
