.badge {
  margin: 0 0.25rem;
  padding: 0.5rem;
  color: var(--bs-text-primary);
  background-color: var(--brand-base);

  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}

.badge-collections {
  margin-bottom: 1rem;
}