.badge {
  margin: 0 0.25rem;
  padding: 0.5rem;
  color: var(--bs-text-primary);
  background-color: var(--brand-base);

  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}

.badge-collections {
  margin-bottom: 1rem;
}

@each $name, $items in map.merge($colors, $alias-colors) {
  $env_key: map.get($items, "env_key");
  .badge-#{$name} {
    background-color: var(--#{$env_key});
    border-color: var(--#{$env_key});
    color: var(--on-#{$env_key});
  }

  .badge-#{$name}-container {
    background-color: var(--#{$env_key}-container);
    border-color: var(--#{$env_key}-container);
    color: var(--on-#{$env_key}-container);
  }
}
