@each $key, $value in $color-envs {
  .btn-#{$key} {
    background-color: var(--#{$value});
    border-color: var(--#{$value});
    color: var(--on-#{$value});

    &:hover {
      background-color: var(--#{$value}-strong);
      border-color: var(--#{$value}-strong);
      color: var(--on-#{$value});
      text-decoration: underline;
    }

    &:active {
      background-color: var(--#{$value}-strong);
      border-color: var(--#{$value}-strong);
      color: var(--on-#{$value});
      box-shadow: none !important;
    }

    &:focus {
      background-color: var(--#{$value}-strong);
      border-color: var(--accent);
      color: var(--on-#{$value});
      text-decoration: underline;
      box-shadow: none !important;
    }

    &:disabled {
      background-color: var(--bs-gray-200);
      border-color: var(--bs-gray-200);
      color: var(--bs-gray-500);
    }
  }

  .btn-outline-#{$key} {
    background: none;
    color: var(--#{$value});
    border-color: var(--#{$value});

    &:hover {
      color: var(--#{$value}-strong);
      border-color: var(--#{$value}-strong);
      text-decoration: underline;
      background: none;
    }

    &:active {
      color: var(--#{$value}-strong);
      border-color: var(--#{$value}-strong);
      box-shadow: none !important;
      background: none;
    }

    &:focus {
      color: var(--#{$value}-strong);
      border-color: var(--#{$value}-strong);
      text-decoration: underline;
      box-shadow: none !important;
      background: none;
    }

    &:disabled {
      border-color: var(--bs-gray-500);
      color: var(--bs-gray-500);
    }
  }

  .btn-#{$key}-container {
    background-color: var(--#{$value}-container);
    border-color: var(--on-#{$value}-container);
    color: var(--on-#{$value}-container);

    &:hover {
      background-color: var(--#{$value}-container-strong);
      border-color: var(--on-#{$value}-container);
      color: var(--on-#{$value}-container);
      text-decoration: underline;
    }

    &:active {
      background-color: var(--#{$value}-container-strong);
      border-color: var(--on-#{$value}-container);
      color: var(--on-#{$value}-container);
      box-shadow: none !important;
    }

    &:focus {
      color: var(--on-#{$value}-container);
      background-color: var(--#{$value}-container-strong);
      border-color: var(--on-#{$value}-container);
      text-decoration: underline;
      box-shadow: none !important;
    }

    &:disabled {
      background-color: var(--bs-gray-200);
      border-color: var(--bs-gray-200);
      color: var(--bs-gray-500);
    }
  }
}

.btn-link {
  color: var(--brand);
  &:hover, &:active, &:focus {
    color: var(--brand-strong);
  }
}