$select-icon-disabled-color: #4D4D4D;
$select-icon-active-color: #FFB000;

.form-select {
  border: 1px solid #121212;
  
  &:hover {
    color: var(--brand-strong);
    border-color: var(--brand-strong);
  }

  &:active,
  &:focus {
    color: var(--accent);
    background-color: var(--brand);
    border: 2px solid var(--accent);
    box-shadow: none;
    background-image: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#{$select-icon-active-color}' class='bi bi-chevron-down' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>"));
  }

  &:disabled {
    color: var(--bs-text-secondary);
    background-color: var(--bs-gray-100);
    border: 1px solid #CED4DA;
    background-image: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#{$select-icon-disabled-color}' class='bi bi-chevron-down' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>"));
  }
}

option {
  background: var(--bs-gray-100);
  color: var(--bs-on-background) !important;
}

optgroup {
  background: var(--bs-gray-100);
  color: var(--bs-text-secondary) !important;
  font-weight: normal !important;
  font-size: 16px !important;
}