@each $key, $value in $color-envs {
  .bg-#{$key} {
    background-color: var(--#{$value}) !important;
    color: var(--on-#{$value});
  }
  .bg-#{$key}-container {
    background-color: var(--#{$value}-container) !important;
    color: var(--on-#{$value}-container);
  }
}

@each $key, $value in $color-envs {
  .text-#{$key} {
    color: var(--#{$value});
  }
}