@each $name, $items in map.merge($colors, $alias-colors) {
  $env_key: map.get($items, "env_key");
  .bg-#{$name} {
    background-color: var(--#{$env_key}) !important;
  }
}

@each $name, $items in map.merge($colors, $alias-colors) {
  $env_key: map.get($items, "env_key");
  .text-#{$name} {
    color: var(--#{$env_key});
  }
}