$brand: #2c5ab4;
$brand-strong: #03429c;
$on-brand: #ffffff;
$brand-container: #d8e2ff;
$brand-container-strong: #afc6ff;
$on-brand-container: #001847;

$accent: #705d00;
$accent-strong: #554600;
$on-accent: #ffffff;
$accent-container: #ffe25b;
$accent-container-strong: #e7c400;
$on-accent-container: #221b00;

$positive: #286b2a;
$positive-strong: #085314;
$on-positive: #ffffff;
$positive-container: #acf5a3;
$positive-container-strong: #90d889;
$on-positive-container: #012104;

$negative: #ba1b1b;
$negative-strong: #930006;
$on-negative: #ffffff;
$negative-container: #ffdad4;
$negative-container-strong: #ffb4a9;
$on-negative-container: #410001;

$information: #006687;
$information-strong: #004d67;
$on-information: #ffffff;
$information-container: #bee8ff;
$information-container-strong: #6bd2ff;
$on-information-container: #001e2b;

$warning: #a53d00;
$warning-strong: #7d2c00;
$on-warning: #ffffff;
$warning-container: #ffdbcb;
$warning-container-strong: #ffb593;
$on-warning-container: #360f00;

$accordion-icon-color: $brand;
$accordion-icon-active-color: $on-brand;

$sidebar-icon-color: black;
$sidebar-icon-active-color: #0969a2;
$sidebar-icon-hover-color: white;

$link-color: $brand;

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$colors: (
  "brand": (
    "base": (
      "normal": $brand,
      "strong": $brand-strong,
      "on": $on-brand,
    ),
    "container": (
      "normal": $brand-container,
      "strong": $brand-container-strong,
      "on": $on-brand-container,
    ),
  ),
  "accent": (
    "base": (
      "normal": $accent,
      "strong": $accent-strong,
      "on": $on-accent,
    ),
    "container": (
      "normal": $accent-container,
      "strong": $accent-container-strong,
      "on": $on-accent-container,
    ),
  ),
  "positive": (
    "base": (
      "normal": $positive,
      "strong": $positive-strong,
      "on": $on-positive,
    ),
    "container": (
      "normal": $positive-container,
      "strong": $positive-container-strong,
      "on": $on-positive-container,
    ),
  ),
  "negative": (
    "base": (
      "normal": $negative,
      "strong": $negative-strong,
      "on": $on-negative,
    ),
    "container": (
      "normal": $negative-container,
      "strong": $negative-container-strong,
      "on": $on-negative-container,
    ),
  ),
  "information": (
    "base": (
      "normal": $information,
      "strong": $information-strong,
      "on": $on-information,
    ),
    "container": (
      "normal": $information-container,
      "strong": $information-container-strong,
      "on": $on-information-container,
    ),
  ),
  "warning": (
    "base": (
      "normal": $warning,
      "strong": $warning-strong,
      "on": $on-warning,
    ),
    "container": (
      "normal": $warning-container,
      "strong": $warning-container-strong,
      "on": $on-warning-container,
    ),
  ),
);

$color-envs: (
  "brand": "brand",
  "accent": "accent",
  "positive": "positive",
  "negative": "negative",
  "information": "information",
  "warning": "warning",
  "primary": "brand",
  "secondary": "accent",
  "success": "positive",
  "danger": "negative",
  "info": "information",
);

//escape svg function from bootstrap

$escaped-characters: (
  ("<", "%3c"),
  (">", "%3e"),
  ("#", "%23"),
  ("(", "%28"),
  (")", "%29")
) !default;

@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

@function escape-svg($string) {
  @if str-index($string, "data:image/svg+xml") {
    @each $char, $encoded in $escaped-characters {
      // Do not escape the url brackets
      @if str-index($string, "url(") == 1 {
        $string: url("#{str-replace(str-slice($string, 6, -3), $char, $encoded)}");
      } @else {
        $string: str-replace($string, $char, $encoded);
      }
    }
  }

  @return $string;
}